{# Shared tab bar. Pages set {% set active_tab = '...' %} at top level.
   Requires selected_format, selected_rating, selected_pokemon in context
   (every tabbed route passes them). #}
<div class="top-bar">
  <div class="tab-bar">
    <a id="tab-usage-btn" class="tab-btn{% if active_tab | default('') == 'usage' %} tab-active{% endif %}" href="{% if is_champions_game | default(false) %}{{ url_for('champions_page', fmt=champions_slug, pokemon_name=selected_pokemon) }}{% else %}{{ url_for('display_pokemon_page', format_code=selected_format[0], rating_threshold=selected_rating, pokemon_name=selected_pokemon) }}{% endif %}">Usage Stats</a>
    <a id="tab-tournaments-btn" class="tab-btn{% if active_tab | default('') == 'tournaments' %} tab-active{% endif %}" href="{{ url_for('tournaments_page') }}">Tournaments</a>
    <a id="tab-teams-btn" class="tab-btn{% if active_tab | default('') == 'teams' %} tab-active{% endif %}" href="{{ url_for('teams_page') }}">Teams</a>
    {% if not is_champions_game | default(false) %}
    <a id="tab-calc-btn" class="tab-btn{% if active_tab | default('') == 'calc' %} tab-active{% endif %}" href="{{ url_for('calc_page', format_code=selected_format[0], rating_threshold=selected_rating) }}">Calc</a>
    {% endif %}
    <a id="tab-replays-btn" class="tab-btn{% if active_tab | default('') == 'replays' %} tab-active{% endif %}" href="{{ url_for('replays_page') }}">Replays</a>
    <a id="tab-insights-btn" class="tab-btn{% if active_tab | default('') == 'insights' %} tab-active{% endif %}" href="{{ url_for('insights_page') }}">Insights</a>
    <a id="tab-tools-btn" class="tab-btn{% if active_tab | default('') == 'tools' %} tab-active{% endif %}" href="{{ url_for('tools_page') }}">Tools</a>
  </div>
  <div class="twitter-follow-div">
    <a href="https://ko-fi.com/V7V2QR4P2" target="_blank">
      <img height="29" style="border:0px;height:29px;" src="https://storage.ko-fi.com/cdn/kofi4.png?v=3" border="0" alt="Buy Me a Coffee at ko-fi.com" />
    </a>
    <a href="https://twitter.com/MunchStats?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-dnt="true" data-show-count="false">Follow @MunchStats</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
